*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #121212;
}
.button{
    position: relative;
    display: block;
    overflow: hidden;
    padding: 20px 30px;
    text-decoration: none;
    background-color: #3b3b3b;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition:background-color 0.4s;
}
.button::before{
    content:'';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #ffffff71,transparent);
    transform: translateX(-180px) skew(-20deg);
    transition: transform 0.4s;
}
.button:hover::before{
    transform: translateX(220px) skew(-20deg);
}
.button:hover{
    background-color: #ff006a;
}